h1{
    @include text-style-headline-large-title;
    color: $color-text-button-klein-blue;
}
h2{
    @include text-style-headline-h-2;
    color: $color-text-button-klein-blue;
}

h3{
    @include text-style-headline-h-3;
    color: $color-text-body-klein-blue;
}

h4{
    @include text-style-headline-h-4;
    color: $color-text-body-klein-blue;
}

.text{
    &-caption{
        color: $color-text-caption-blue-yonder;
        @include text-style-caption-cap-14;
    }
    &-heading{
        margin-bottom: abs($px*4);
    }
}

// Align
.text{
    &-center{
        text-align: center;
    }
    &-left{
        text-align: left;
    }
    &-right{
        text-align: right;
    }
}


//Icons

.ic{
    &-24{
        font-size: 24px;
    }
}

a{
    text-decoration: none;
    color: $color-stroke-border-klein-blue;
    @include text-style-body-body-18;
    
    &:active,
    &:visited,
    &:hover{
        text-decoration: none;
        color: $color-stroke-border-klein-blue;
        @include text-style-body-body-18;

    }
}