@font-face {
  font-family: 'edberly-font';
  src:
    url('fonts/edberly-font.ttf?31dgaw') format('truetype'),
    url('fonts/edberly-font.woff?31dgaw') format('woff'),
    url('fonts/edberly-font.svg?31dgaw#edberly-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'edberly-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-hundred:before {
  content: "\e900";
  color: #bb1a34;
}
.ic-boy-w-notebook .path1:before {
  content: "\e901";
  color: rgb(119, 178, 85);
}
.ic-boy-w-notebook .path2:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-boy-w-notebook .path3:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(238, 194, 173);
}
.ic-boy-w-notebook .path4:before {
  content: "\e904";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-boy-w-notebook .path5:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-boy-w-notebook .path6:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(193, 105, 79);
}
.ic-boy-w-notebook .path7:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-boy-w-notebook .path8:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(102, 33, 19);
}
.ic-boy-w-notebook .path9:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(193, 105, 79);
}
.ic-boy-w-notebook .path10:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.ic-boy-w-notebook .path11:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.ic-boy-w-notebook .path12:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(153, 170, 181);
}
.ic-boy-w-notebook .path13:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.ic-brain .path1:before {
  content: "\e90e";
  color: rgb(234, 89, 110);
}
.ic-brain .path2:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(221, 46, 68);
}
.ic-brain .path3:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(244, 171, 186);
}
.ic-brain .path4:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(234, 89, 110);
}
.ic-brain .path5:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(234, 89, 110);
}
.ic-hand-up .path1:before {
  content: "\e913";
  color: rgb(247, 222, 206);
}
.ic-hand-up .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(193, 105, 79);
}
.ic-hand-up .path3:before {
  content: "\e915";
  margin-left: -1em;
  color: rgb(102, 33, 19);
}
.ic-hand-up .path4:before {
  content: "\e916";
  margin-left: -1em;
  color: rgb(193, 105, 79);
}
.ic-hand-up .path5:before {
  content: "\e917";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-hand-up .path6:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-hand-up .path7:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-hand-up .path8:before {
  content: "\e91a";
  margin-left: -1em;
  color: rgb(224, 170, 148);
}
.ic-hand-up .path9:before {
  content: "\e91b";
  margin-left: -1em;
  color: rgb(66, 137, 193);
}
.ic-hand-up .path10:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(42, 103, 151);
}
.ic-hand-up .path11:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-heart .path1:before {
  content: "\e91e";
  color: rgb(221, 46, 68);
}
.ic-heart .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(253, 203, 88);
}
.ic-money-bucks .path1:before {
  content: "\e920";
  color: rgb(92, 145, 59);
}
.ic-money-bucks .path2:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(167, 210, 139);
}
.ic-money-bucks .path3:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(119, 178, 85);
}
.ic-money-bucks .path4:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(92, 145, 59);
}
.ic-money-bucks .path5:before {
  content: "\e924";
  margin-left: -1em;
  color: rgb(255, 232, 182);
}
.ic-money-bucks .path6:before {
  content: "\e925";
  margin-left: -1em;
  color: rgb(255, 172, 51);
}
.ic-money-bucks .path7:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(92, 145, 59);
}
.ic-money-eur .path1:before {
  content: "\e927";
  color: rgb(42, 103, 151);
}
.ic-money-eur .path2:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(93, 173, 236);
}
.ic-money-eur .path3:before {
  content: "\e929";
  margin-left: -1em;
  color: rgb(66, 137, 193);
}
.ic-money-eur .path4:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(42, 103, 151);
}
.ic-money-eur .path5:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(255, 232, 182);
}
.ic-money-eur .path6:before {
  content: "\e92c";
  margin-left: -1em;
  color: rgb(255, 172, 51);
}
.ic-money-eur .path7:before {
  content: "\e92d";
  margin-left: -1em;
  color: rgb(42, 103, 151);
}
.ic-money-flies .path1:before {
  content: "\e92e";
  color: rgb(92, 145, 59);
}
.ic-money-flies .path2:before {
  content: "\e92f";
  margin-left: -1em;
  color: rgb(167, 210, 139);
}
.ic-money-flies .path3:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(119, 178, 85);
}
.ic-money-flies .path4:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(92, 145, 59);
}
.ic-money-flies .path5:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 172, 51);
}
.ic-money-flies .path6:before {
  content: "\e933";
  margin-left: -1em;
  color: rgb(255, 232, 182);
}
.ic-money-flies .path7:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(92, 145, 59);
}
.ic-money-flies .path8:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.ic-money-flies .path9:before {
  content: "\e936";
  margin-left: -1em;
  color: rgb(204, 214, 221);
}
.ic-money-flies .path10:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(225, 232, 237);
}
.ic-money-flies .path11:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(204, 214, 221);
}
.ic-moneu-uk .path1:before {
  content: "\e939";
  color: rgb(146, 102, 204);
}
.ic-moneu-uk .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(203, 184, 233);
}
.ic-moneu-uk .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(170, 141, 216);
}
.ic-moneu-uk .path4:before {
  content: "\e93c";
  margin-left: -1em;
  color: rgb(146, 102, 204);
}
.ic-moneu-uk .path5:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(255, 232, 182);
}
.ic-moneu-uk .path6:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(255, 172, 51);
}
.ic-moneu-uk .path7:before {
  content: "\e93f";
  margin-left: -1em;
  color: rgb(146, 102, 204);
}
.ic-smile-w-monocle .path1:before {
  content: "\e940";
  color: rgb(255, 203, 76);
}
.ic-smile-w-monocle .path2:before {
  content: "\e941";
  margin-left: -1em;
  color: rgb(101, 71, 27);
}
.ic-smile-w-monocle .path3:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(244, 247, 249);
}
.ic-smile-w-monocle .path4:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(101, 71, 27);
}
.ic-smile-w-monocle .path5:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-smile-w-monocle .path6:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(103, 117, 127);
}
.ic-smile-w-monocle .path7:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(101, 71, 27);
}
.ic-smile-w-monocle .path8:before {
  content: "\e947";
  margin-left: -1em;
  color: rgb(189, 221, 244);
}
.ic-student .path1:before {
  content: "\e948";
  color: rgb(41, 47, 51);
}
.ic-student .path2:before {
  content: "\e949";
  margin-left: -1em;
  color: rgb(102, 117, 127);
}
.ic-student .path3:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(146, 102, 204);
}
.ic-student .path4:before {
  content: "\e94b";
  margin-left: -1em;
  color: rgb(116, 78, 170);
}
.ic-student .path5:before {
  content: "\e94c";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-student .path6:before {
  content: "\e94d";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-student .path7:before {
  content: "\e94e";
  margin-left: -1em;
  color: rgb(238, 194, 173);
}
.ic-student .path8:before {
  content: "\e94f";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-student .path9:before {
  content: "\e950";
  margin-left: -1em;
  color: rgb(223, 31, 50);
}
.ic-student .path10:before {
  content: "\e951";
  margin-left: -1em;
  color: rgb(102, 33, 19);
}
.ic-student .path11:before {
  content: "\e952";
  margin-left: -1em;
  color: rgb(193, 105, 79);
}
.ic-student .path12:before {
  content: "\e953";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-student .path13:before {
  content: "\e954";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-student .path14:before {
  content: "\e955";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-student .path15:before {
  content: "\e956";
  margin-left: -1em;
  color: rgb(102, 117, 127);
}
.ic-student .path16:before {
  content: "\e957";
  margin-left: -1em;
  color: rgb(255, 204, 77);
}
.ic-teacher .path1:before {
  content: "\e958";
  color: rgb(217, 158, 130);
}
.ic-teacher .path2:before {
  content: "\e959";
  margin-left: -1em;
  color: rgb(92, 145, 59);
}
.ic-teacher .path3:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.ic-teacher .path4:before {
  content: "\e95b";
  margin-left: -1em;
  color: rgb(146, 102, 204);
}
.ic-teacher .path5:before {
  content: "\e95c";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-teacher .path6:before {
  content: "\e95d";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-teacher .path7:before {
  content: "\e95e";
  margin-left: -1em;
  color: rgb(238, 194, 173);
}
.ic-teacher .path8:before {
  content: "\e95f";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-teacher .path9:before {
  content: "\e960";
  margin-left: -1em;
  color: rgb(223, 31, 50);
}
.ic-teacher .path10:before {
  content: "\e961";
  margin-left: -1em;
  color: rgb(41, 47, 51);
}
.ic-teacher .path11:before {
  content: "\e962";
  margin-left: -1em;
  color: rgb(102, 33, 19);
}
.ic-teacher .path12:before {
  content: "\e963";
  margin-left: -1em;
  color: rgb(193, 105, 79);
}
.ic-teacher .path13:before {
  content: "\e964";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-teacher .path14:before {
  content: "\e965";
  margin-left: -1em;
  color: rgb(116, 78, 170);
}
.ic-teacher .path15:before {
  content: "\e966";
  margin-left: -1em;
  color: rgb(203, 183, 234);
}
.ic-teacher .path16:before {
  content: "\e967";
  margin-left: -1em;
  color: rgb(116, 78, 170);
}
.ic-teacher .path17:before {
  content: "\e968";
  margin-left: -1em;
  color: rgb(203, 183, 234);
}
.ic-teacher .path18:before {
  content: "\e969";
  margin-left: -1em;
  color: rgb(203, 183, 234);
}
.ic-thumbs-up .path1:before {
  content: "\e96a";
  color: rgb(246, 221, 205);
}
.ic-thumbs-up .path2:before {
  content: "\e96b";
  margin-left: -1em;
  color: rgb(223, 169, 148);
}
.ic-writing .path1:before {
  content: "\e96c";
  color: rgb(224, 170, 148);
}
.ic-writing .path2:before {
  content: "\e96d";
  margin-left: -1em;
  color: rgb(238, 194, 173);
}
.ic-writing .path3:before {
  content: "\e96e";
  margin-left: -1em;
  color: rgb(224, 170, 148);
}
.ic-writing .path4:before {
  content: "\e96f";
  margin-left: -1em;
  color: rgb(238, 194, 173);
}
.ic-writing .path5:before {
  content: "\e970";
  margin-left: -1em;
  color: rgb(224, 170, 148);
}
.ic-writing .path6:before {
  content: "\e971";
  margin-left: -1em;
  color: rgb(238, 194, 173);
}
.ic-writing .path7:before {
  content: "\e972";
  margin-left: -1em;
  color: rgb(59, 136, 195);
}
.ic-writing .path8:before {
  content: "\e973";
  margin-left: -1em;
  color: rgb(59, 136, 195);
}
.ic-writing .path9:before {
  content: "\e974";
  margin-left: -1em;
  color: rgb(224, 170, 148);
}
.ic-writing .path10:before {
  content: "\e975";
  margin-left: -1em;
  color: rgb(247, 222, 206);
}
.ic-writing .path11:before {
  content: "\e976";
  margin-left: -1em;
  color: rgb(224, 170, 148);
}
.ic-writing .path12:before {
  content: "\e977";
  margin-left: -1em;
  color: rgb(59, 136, 195);
}
.ic-arrow-right:before {
  content: "\e978";
}
.ic-arrow-up-right:before {
  content: "\e979";
}
.ic-chevron-down:before {
  content: "\e97a";
}
.ic-chevron-left:before {
  content: "\e97b";
}
.ic-chevron-right:before {
  content: "\e97c";
}
.ic-chevron-up:before {
  content: "\e97d";
}
.ic-menu:before {
  content: "\e97e";
}
.ic-minus:before {
  content: "\e97f";
}
.ic-plus:before {
  content: "\e980";
}
.ic-close:before {
  content: "\e981";
}
