$icomoon-font-family: "edberly-font" !default;
$icomoon-font-path: "/assets/fonts" !default;

$ic-hundred: "\e900";
$ic-boy-w-notebook-path1: "\e901";
$ic-boy-w-notebook-path2: "\e902";
$ic-boy-w-notebook-path3: "\e903";
$ic-boy-w-notebook-path4: "\e904";
$ic-boy-w-notebook-path5: "\e905";
$ic-boy-w-notebook-path6: "\e906";
$ic-boy-w-notebook-path7: "\e907";
$ic-boy-w-notebook-path8: "\e908";
$ic-boy-w-notebook-path9: "\e909";
$ic-boy-w-notebook-path10: "\e90a";
$ic-boy-w-notebook-path11: "\e90b";
$ic-boy-w-notebook-path12: "\e90c";
$ic-boy-w-notebook-path13: "\e90d";
$ic-brain-path1: "\e90e";
$ic-brain-path2: "\e90f";
$ic-brain-path3: "\e910";
$ic-brain-path4: "\e911";
$ic-brain-path5: "\e912";
$ic-hand-up-path1: "\e913";
$ic-hand-up-path2: "\e914";
$ic-hand-up-path3: "\e915";
$ic-hand-up-path4: "\e916";
$ic-hand-up-path5: "\e917";
$ic-hand-up-path6: "\e918";
$ic-hand-up-path7: "\e919";
$ic-hand-up-path8: "\e91a";
$ic-hand-up-path9: "\e91b";
$ic-hand-up-path10: "\e91c";
$ic-hand-up-path11: "\e91d";
$ic-heart-path1: "\e91e";
$ic-heart-path2: "\e91f";
$ic-money-bucks-path1: "\e920";
$ic-money-bucks-path2: "\e921";
$ic-money-bucks-path3: "\e922";
$ic-money-bucks-path4: "\e923";
$ic-money-bucks-path5: "\e924";
$ic-money-bucks-path6: "\e925";
$ic-money-bucks-path7: "\e926";
$ic-money-eur-path1: "\e927";
$ic-money-eur-path2: "\e928";
$ic-money-eur-path3: "\e929";
$ic-money-eur-path4: "\e92a";
$ic-money-eur-path5: "\e92b";
$ic-money-eur-path6: "\e92c";
$ic-money-eur-path7: "\e92d";
$ic-money-flies-path1: "\e92e";
$ic-money-flies-path2: "\e92f";
$ic-money-flies-path3: "\e930";
$ic-money-flies-path4: "\e931";
$ic-money-flies-path5: "\e932";
$ic-money-flies-path6: "\e933";
$ic-money-flies-path7: "\e934";
$ic-money-flies-path8: "\e935";
$ic-money-flies-path9: "\e936";
$ic-money-flies-path10: "\e937";
$ic-money-flies-path11: "\e938";
$ic-moneu-uk-path1: "\e939";
$ic-moneu-uk-path2: "\e93a";
$ic-moneu-uk-path3: "\e93b";
$ic-moneu-uk-path4: "\e93c";
$ic-moneu-uk-path5: "\e93d";
$ic-moneu-uk-path6: "\e93e";
$ic-moneu-uk-path7: "\e93f";
$ic-smile-w-monocle-path1: "\e940";
$ic-smile-w-monocle-path2: "\e941";
$ic-smile-w-monocle-path3: "\e942";
$ic-smile-w-monocle-path4: "\e943";
$ic-smile-w-monocle-path5: "\e944";
$ic-smile-w-monocle-path6: "\e945";
$ic-smile-w-monocle-path7: "\e946";
$ic-smile-w-monocle-path8: "\e947";
$ic-student-path1: "\e948";
$ic-student-path2: "\e949";
$ic-student-path3: "\e94a";
$ic-student-path4: "\e94b";
$ic-student-path5: "\e94c";
$ic-student-path6: "\e94d";
$ic-student-path7: "\e94e";
$ic-student-path8: "\e94f";
$ic-student-path9: "\e950";
$ic-student-path10: "\e951";
$ic-student-path11: "\e952";
$ic-student-path12: "\e953";
$ic-student-path13: "\e954";
$ic-student-path14: "\e955";
$ic-student-path15: "\e956";
$ic-student-path16: "\e957";
$ic-teacher-path1: "\e958";
$ic-teacher-path2: "\e959";
$ic-teacher-path3: "\e95a";
$ic-teacher-path4: "\e95b";
$ic-teacher-path5: "\e95c";
$ic-teacher-path6: "\e95d";
$ic-teacher-path7: "\e95e";
$ic-teacher-path8: "\e95f";
$ic-teacher-path9: "\e960";
$ic-teacher-path10: "\e961";
$ic-teacher-path11: "\e962";
$ic-teacher-path12: "\e963";
$ic-teacher-path13: "\e964";
$ic-teacher-path14: "\e965";
$ic-teacher-path15: "\e966";
$ic-teacher-path16: "\e967";
$ic-teacher-path17: "\e968";
$ic-teacher-path18: "\e969";
$ic-thumbs-up-path1: "\e96a";
$ic-thumbs-up-path2: "\e96b";
$ic-writing-path1: "\e96c";
$ic-writing-path2: "\e96d";
$ic-writing-path3: "\e96e";
$ic-writing-path4: "\e96f";
$ic-writing-path5: "\e970";
$ic-writing-path6: "\e971";
$ic-writing-path7: "\e972";
$ic-writing-path8: "\e973";
$ic-writing-path9: "\e974";
$ic-writing-path10: "\e975";
$ic-writing-path11: "\e976";
$ic-writing-path12: "\e977";
$ic-arrow-right: "\e978";
$ic-arrow-up-right: "\e979";
$ic-chevron-down: "\e97a";
$ic-chevron-left: "\e97b";
$ic-chevron-right: "\e97c";
$ic-chevron-up: "\e97d";
$ic-menu: "\e97e";
$ic-minus: "\e97f";
$ic-plus: "\e980";
$ic-close: "\e981";

